In [1]:
import numpy as n
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits
%matplotlib inline

In [2]:
rih = pd.read_csv("rih.csv")

In [4]:
rih

                                                                                                     Category: All categories
Time                      when is rihanna due: (United States) is rihanna pregnant: (United States)  rihanna: (United States)
2023-02-12T16:44:00-06:00 <1                                   <1                                                           1
2023-02-12T16:45:00-06:00 <1                                   <1                                                           1
2023-02-12T16:46:00-06:00 <1                                   <1                                                           1
2023-02-12T16:47:00-06:00 0                                    0                                                            1
...                                                                                                                       ...
2023-02-12T20:39:00-06:00 <1                                   2                                                           10
2023-02-12T20:40:00-06:00 <1                                   2                                                            9
2023-02-12T20:41:00-06:00 <1                                   2                                                            9
2023-02-12T20:42:00-06:00 <1                                   2                                                            9
2023-02-12T20:43:00-06:00 <1                                   2                                                            8

[241 rows x 1 columns]

NameError: name 'mean' is not defined